# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/business_events_catalog?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Brevo (email)
BREVO_API_KEY=""
BREVO_SENDER_EMAIL="noreply@example.com"
BREVO_SENDER_NAME="Бизнес Събития България"

# Cron security
CRON_SECRET="generate-with-openssl-rand-base64-32"
